.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding-top: max(5rem, 20%);
  padding-bottom: 5rem;
}

.blurb p {
  font-size: 2.5rem;
  line-height: normal;
}

.blurb b {
  text-shadow: 5px 5px 10px var(--box-shadow);
}