.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: right;
  height: 100%;
  width: 100%;
  padding-top: max(5rem, 20%);
  padding-bottom: max(5rem, 20%);
}

.title {
  margin-bottom: 1rem;
}

.education_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.education {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 20px;
  row-gap: 10px;
}

.logo {
  width: 80px;
  min-width: 80px;
  height: 80px;
  min-height: 80px;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
}

.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.course {
  font-size: 1rem;
  padding: 5px 10px;
  border: 1px solid var(--font);
  border-radius: 10px;
}

@media screen and (max-width: 450px) {
  .education {
    flex-wrap: wrap;
  }
  .logo {
    height: 50px;
    width: 50px;
    min-width: 50px;
    min-height: 50px;
  }
  .description {
    min-width: 100%;
  }
}