.layout_wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.light_holder {
  position: fixed;
  bottom: 40px;
  right: max(40px, calc((100vw - 1440px + 2*55px)/2));
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translateY(60px);
  transition: transform 0.25s ease-in-out;
}

.light_holder.active {
  transform: translateY(0);
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid var(--font);
  padding: 5px;
  cursor: pointer;
}

.toggle svg {
  height: 100%
}

.toggle.nav {
  transform: rotate(-90deg);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-in-out;
}

.toggle.nav.active {
  visibility: visible;
  opacity: 1;
}


.image {
  width: 4.5rem;
  height: 4.5rem;
  position: relative;
}

.nav_holder {
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  border: 1px solid var(--font);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  background: var(--bg);
}

.nav_holder span {
  display: block;
  width: fit-content;
  opacity: 0;
  font-size: 1rem;
  transition: max-width 1s ease-in-out, opacity 0.9s ease-in-out, margin 1s ease-in-out, color 0.25s ease-in-out, max-height 1s ease-in-out;
}

.nav_holder span {
  max-width: 0;
  color: var(--font);
  opacity: 0;
}

.nav_holder span.active {
  max-width: 100px;
  margin: 0 5px;
  opacity: 1;
}

.nav_holder:hover span {
  max-width: 100px;
  opacity: 1;
  margin: 0 5px;
}

.nav_holder span:not(.active):hover,
.nav_holder span:not(.active):focus {
  color: var(--code);
}

.profile_pic {
  border-radius: 100%;
}

@media screen and (max-width: 570px) {
  .header_holder {
    flex-direction: column;
  }
  .nav_holder {
    flex-direction: column;
    align-items: center;
  }
  .nav_holder span {
    max-height: 0;
    max-width: fit-content;
  }
  .nav_holder span.active {
    max-width: fit-content;
    max-height: 1.1rem;
    margin: 0;
  }
  .nav_holder:hover span {
    margin: 3px 0;
    max-height: 1.1rem;
  }
  .nav_holder span:not(.active):hover,
  .nav_holder span:not(.active):focus {
    color: var(--font);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
  font-size: 1.5rem;
  white-space: nowrap;
  border-top: 1px solid var(--font);
}

.footer b {
  text-shadow: 5px 5px 10px var(--box-shadow);
}

.resume {
  padding: 7px 15px;
  height: fit-content;
  border: 1px solid var(--font);
  border-radius: 10px;
  font-size: 0.8em;
}

.resume span {
  margin-right: 10px;
}

.count_holder {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.counts {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 5px;
}

.mask_holder {
  position: absolute;
  top: 300vh;
  right: 0;
  height: 200vh;
  left: 0;
  z-index: 0;
  overflow: hidden;
}

.mask_holder svg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100%;
  opacity: 0.1;
  fill: gray;
  stroke: gray;
}

.mask_holder div {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: linear-gradient(0deg, var(--bg) 92%, transparent);
}

.logo_wrapper {
  position: absolute;
  top: 400vh;
  transform: translateY(-50%);
  width: 100%;
  overflow: hidden;
  height: 200px;
}

.logos_holder {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  margin: auto;
  max-width: 1000px;
  width: 90%;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.logo_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.2;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.logo {
  width: 40px;
  height: 40px;
  overflow: hidden;
  opacity: 0;
  animation-name: flicker;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.logo[data-animation-delay="0"] {
  animation-delay: 0s;
}

.logo[data-animation-delay="1"] {
  animation-delay: 0.6667s;
}

.logo[data-animation-delay="2"] {
  animation-delay: 1.3334s;
}

.logo[data-animation-delay="3"] {
  animation-delay: 2.0001s;
}

.logo[data-animation-delay="4"] {
  animation-delay: 2.6668s;
}

.logo[data-animation-delay="5"] {
  animation-delay: 3.3335s;
}

.logo svg {
  height: 100%;
  width: 100%;
}