.layout_wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: translateY(0);
  transition: transform 0.25s ease-in-out;
}

.header.hide {
  transform: translateY(calc(-1.2rem - 20px));
}

.header_holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.header_holder h4 {
  color: transparent;
  text-transform: uppercase;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 700;
  line-height: 1.2rem;
}

.light_holder {
  position: fixed;
  bottom: 40px;
  right: max(40px, calc((100vw - 1440px)/2));
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translateY(60px);
  transition: all 0.25s ease-in-out;
}

.light_holder.active {
  transform: translateY(0);
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid var(--font);
  padding: 5px;
  cursor: pointer;
}

.toggle svg {
  height: 100%
}

.toggle.nav {
  transform: rotate(-90deg);
  opacity: 0;
  visibility: hidden;
}

.toggle.nav.active {
  visibility: visible;
  opacity: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
  font-size: 1.5rem;
  white-space: nowrap;
  border-top: 1px solid var(--font);
}

.footer b {
  text-shadow: 5px 5px 10px var(--box-shadow);
}

.resume {
  padding: 7px 15px;
  height: fit-content;
  border: 1px solid var(--font);
  border-radius: 10px;
  font-size: 0.8em;
}

.resume span {
  margin-right: 10px;
}

.count_holder {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.counts {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 5px;
}

.mask_holder {
  position: absolute;
  top: 0;
  right: 0;
  height: 200vh;
  left: 0;
  z-index: 0;
  overflow: hidden;
}

.mask_holder svg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100%;
  opacity: 0.1;
  fill: gray;
  stroke: gray;
}

.mask_holder div {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: linear-gradient(0deg, var(--bg) 92%, transparent);
}

.logo_wrapper {
  width: 100%;
  overflow: hidden;
  height: 200px;
}

.logos_holder {
  margin: auto;
  max-width: 1000px;
  width: 90%;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.logo_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.2;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.logo {
  width: 40px;
  height: 40px;
  overflow: hidden;
  opacity: 0;
  animation-name: flicker;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.logo[data-animation-delay="0"] {
  animation-delay: 0s;
}

.logo[data-animation-delay="1"] {
  animation-delay: 0.6667s;
}

.logo[data-animation-delay="2"] {
  animation-delay: 1.3334s;
}

.logo[data-animation-delay="3"] {
  animation-delay: 2.0001s;
}

.logo[data-animation-delay="4"] {
  animation-delay: 2.6668s;
}

.logo[data-animation-delay="5"] {
  animation-delay: 3.3335s;
}

.logo svg {
  height: 100%;
  width: 100%;
}