.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: calc(2*20px + 4.5rem + 3rem);
  height: 100%;
  width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  background: radial-gradient(
    circle at 0%,
    rgb(195, 251, 214) 10%,
    rgb(0, 204, 255) 70%
  );
  background-blend-mode: saturation;
  background-clip: text;
  -webkit-background-clip: text;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.transparent {
  color: transparent;
  font-weight: 800;
}

@keyframes wiggle {
  0% {transform: translateY(0) rotate(90deg);}
  80% {transform: translateY(0px) rotate(90deg);}
  85% {transform: translateY(-1px) rotate(90deg);}
  95% {transform: translateY(4px) rotate(90deg);}
  100% {transform: translateY(0) rotate(90deg);}
}

.arrow_holder {
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
  animation: wiggle 2s ease-in-out infinite;
}

.parallax {
  height: 400vh;
  width: 100%;
}

.projects {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  perspective: 300px;
}

.project_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 800px;
  width: 90%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.project_wrapper.active {
  visibility: visible;
  opacity: 1;
  /* transform: translate(-50%, -50%); */
  transform: translate3d(-50%, -50%, 0) rotateX(0deg);
  z-index: 3;
}

.project_wrapper.fadeOut {
  opacity: 0;
  /* transform: translate(-100%, 100%); */
  transform: translate3d(-50%, -20%, -50px) rotateX(3deg);
  z-index: 1;
}

.project_wrapper.fadeIn {
  opacity: 0;
  /* transform: translate(100%, 100%); */
  transform: translate3d(-50%, 0%, 50px) rotateX(-10deg);
  z-index: 2;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 30px;
  width: 100%;
  padding: 10px 20px;
}

.outgoing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.image {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 1.9 / 1;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -3px 3px 5px var(--box-shadow);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  text-align: left;
  position: relative;
}

.links {
  display: flex;
  flex-direction: row;
  margin: 0 15px;
  gap: 20px;
  height: 15px;
}

.link {
  height: 100%;
  display: block;
  aspect-ratio: 1 / 1;
}

.blurb {
  line-height: 1.5rem;
  position: relative;
}

.holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-top: auto;
  width: 100%;
}