.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: calc(2*20px + 4.5rem + 3rem);
  height: 100%;
  width: 100%;
}

.title {
  margin-bottom: 2rem;
  background: radial-gradient(
    circle at 0%,
    rgb(195, 251, 214) 10%,
    rgb(0, 204, 255) 70%
  );
  background-blend-mode: saturation;
  background-clip: text;
  -webkit-background-clip: text;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.transparent {
  color: transparent;
  font-weight: 800;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.project_wrapper {
  width: 50%;
  padding: 1rem 3rem;
  min-width: 375px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 30px;
  width: 100%;
  padding: 10px 20px;
}

.outgoing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.image {
  border-radius: 10px;
  width: 400px;
  aspect-ratio: 1.9 / 1;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -3px 3px 5px var(--box-shadow);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  text-align: left;
  position: relative;
}

.links {
  display: flex;
  flex-direction: row;
  margin: 0 15px;
  gap: 20px;
  height: 15px;
}

.link {
  height: 100%;
  display: block;
  aspect-ratio: 1 / 1;
}

.blurb {
  line-height: 1.5rem;
  position: relative;
}

.holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-top: auto;
  width: 100%;
}