.gradient {
  background: radial-gradient(
    circle at var(--grad-x) var(--grad-y),
    var(--gradient-from),
    var(--gradient-to)
  );
  background-blend-mode: saturation;
  background-clip: text;
  -webkit-background-clip: text;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
}

.transparent {
  color: transparent;
  font-weight: 800;
}

.shadow {
  text-shadow: 5px 5px 10px var(--box-shadow);
}

.text_xs {
  font-size: 0.8rem;
}

.text_sm {
  font-size: 0.9rem;
}

.text_md {
  font-size: 1rem;
}

.text_lg {
  font-size: 1.2rem;
}

.text_xl {
  font-size: 2rem;
}