.md_image_holder {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  padding: 1rem 0;
}

.md_image_holder * {
  font-size: 0.75rem;
  line-height: 1rem;
}

.md_image {
  position: relative;
  width: 100%;
}

.md_image img {
  width: 100%;
  height: auto;
}

.preview_div {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.preview_div a {
  display: inline-block;
  width: fit-content;
  max-width: 100%;
}

.preview_block {
  width: 400px;
  max-width: 100%;
  border: 1px solid rgb(225, 232, 237);
  border-radius: 10px;
  overflow: hidden;
}

.preview_block.landscape {
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.preview_image {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  aspect-ratio: 1.91 / 1;
  width: 100%;
  border-bottom: 1px solid rgb(225, 232, 237);
}

.preview_image.landscape {
  height: calc(24px + 0.75rem + 0.75rem + 0.6rem + 2rem);
  width: unset;
}

@media screen and (max-width: 500px) {
  .preview_block.landscape {
    width: 400px;
    max-width: 100%;
    border: 1px solid rgb(225, 232, 237);
    border-radius: 10px;
    overflow: hidden;
    display: block;
  }

  .preview_image.landscape {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    aspect-ratio: 1.91 / 1;
    width: 100%;
    height: unset;
    border-bottom: 1px solid rgb(225, 232, 237);
  }
}

.preview_text {
  padding: 12px;
  overflow-wrap: break-word;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.preview_text * {
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.preview_title {
  font-weight: 800;
}

.preview_url {
  opacity: 0.6;
  font-size: 0.6em;
}

.back_arrow {
  margin-bottom: 10px;
}

.back_arrow a {
  display: inline-block;
  width: fit-content;
}

.table {
  margin: 1rem 0;
  overflow-x: scroll;
}

.link {
  text-decoration: underline;
}