.md_image_holder {
  display: flex;
  max-width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  padding: 1rem 0;
}

.md_image_holder * {
  font-size: 0.75rem;
  line-height: 1rem;
}

.md_image{
  position: relative;
  width: 100%;
}

.md_image img {
  width: 100%;
  height: auto;
}

.callout {
  padding: 5px;
  border-radius: 10px;
  background-color: var(--code-bg);
}