.transparent-header {
    position:fixed;
    text-align: right;
    width: 100%;
    margin: 0 auto;
    padding: 2% 10%;
    z-index: 999 !important;
  }

  .fixed-header {
    position:fixed;
    text-align: right;
    width: 100%;
    margin: 0 auto;
    padding: 1% 10%;
    z-index: 999 !important;
    background-color: black;
    opacity: .85;
  }
  
  .header-list {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    list-style: none;
    vertical-align: middle;
    margin: 0;
    z-index: 999 !important;
  }

  a {
    text-decoration: none;
  }
  
  .header-item {
    margin: 0 10px;
    cursor: pointer;
  }

  .transparent-header .highlight a{
    color: black;
  }

  .fixed-header .highlight a{
    color: white;
  }
  
  li:not(.highlight) a {
    text-decoration: none;
    color:lightslategrey;
  }
  
  .transparent-header li:not(.highlight) a:hover {
    color: black;
  }

  .fixed-header li:not(.highlight) a:hover {
    color: white;
  }

  #toggle-icon {
    border-style: solid;
    background-color: white;
    border-radius: .25rem;
    border-color: black;
    color: black;
    cursor: pointer;
}

  @media (min-width: 750px) { 
    #toggle-icon {
        display: none;
    }

    .header-list {
        flex-direction: row !important;
        display: flex !important;
    }
}