:root {
  --bg: #FAFAFA;
  --font: #000000;
  --color-one: #222831;
  --color-two: #393e46;
  --color-three: #0092ca;
  --color-four: #eeeeee;
  --sun: #F28C38;
  --box-shadow: rgba(0,0,0,0.2);
  --code: #32AFFF;
  --gradient-from: rgb(150, 219, 173) 10%;
  --gradient-to: rgb(0, 204, 255) 70%;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #00a99a;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --code-bg: rgba(240, 240, 240, 1);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-reduced-motion:no-preference){
  :root {
    scroll-behavior: smooth;
  }
}

[data-dark="true"] {
  --bg: #121212;
  --font: #FFFFFF;
  --box-shadow: rgba(255,255,255,0.3);
  --code: #4AF626;
  --gradient-from: rgb(195, 251, 214) 10%;
  --gradient-to: rgb(0, 204, 255) 70%;
  --sh-class: #4c97f8;
  --sh-identifier: #fff;
  --sh-keyword: #f47067;
  --sh-string: #0fa295;
  --code-bg: rgba(30, 30, 30, 1);
}


*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--font);
  background-color: var(--bg);
  font-size: clamp(14px, calc(100vw * .0104 + 9.304px), 22px);
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: normal;
}

p {
  margin: 0;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 1rem;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  cursor: default;
}

h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
}

article {
  overflow: hidden;
}

pre:has(code) {
  background-color: var(--code-bg);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 10px;
  font-size: 0.8em;
  overflow-x: scroll;
}

span.katex-display {
  overflow: scroll;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

table {
  border-collapse: collapse;
  margin: auto;
  overflow: scroll;
}

table td,
table th {
  padding: 2px 4px;
  border: 1px solid var(--font);
}

table caption {
  margin-bottom: 5px;
}

mark {
  padding: 2px 5px;
  border-radius: 10px;
  font-size: 0.8em;
  color: var(--font);
  background-color: var(--code-bg);
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

/* we'll only allow the wrapper div to grow to a certain width */
/* I'd rather pad main to a max() width, than use margin:auto on the child with a max-width */
section,
footer,
nav {
  padding: 0 max(20px, calc((100vw - 1440px + 2*55px)/2));
}

nav {
  z-index: 999;
}

footer {
  width: 100%;
  background: var(--bg);
}

section {
  width: 100%;
  position: relative;
  z-index: 1;
}

section.h_50 {
  height: 50vh;
}

section.h_100 {
  height: 100vh;
}

section.h_100_min {
  min-height: 100vh;
}

section.h_150 {
  height: 150vh;
}

section.h_200 {
  height: 200vh;
}

section.h_300 {
  height: 300vh;
}