.blog_holder {
  padding-top: calc(1.6rem + 40px + 40px);
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5rem;
  min-height: 100%;
}

.previews {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.preview {
  display: inline-block;
  margin-left: auto;
  transition: opacity 0.25s ease-in-out;
}

.preview:hover {
  opacity: 0.8;
}

.preview_div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  background-color: var(--code-bg);
  padding: 24px;
  border-radius: 10px;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}