.layout_wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  margin: auto;
  transform: translateY(0);
  transition: transform 0.25s ease-in-out;
}

.header.hide {
  transform: translateY(calc(-1.6rem - 20px));
}

.header_holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.header_holder h4 {
  color: transparent;
  text-transform: uppercase;
  background: linear-gradient(90deg, var(--gradient-from), var(--gradient-to));
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 700;
  line-height: 1.6rem;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
  font-size: 1.5rem;
  white-space: nowrap;
  border-top: 1px solid var(--font);
}

.footer b {
  text-shadow: 5px 5px 10px var(--box-shadow);
}

.contact_wrapper {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.contact {
  height: 1.5rem;
  position: relative;
  transition: opacity 0.25s ease-in-out;
}

.contact svg {
  height: 100%;
  width: 100%;
}

.contact:hover {
  opacity: 0.8;
}

.count_holder {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.counts {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 5px;
}