.content {
  top: 0;
  height: 100vh;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
  overflow-x: hidden;
}

.title {
  margin-bottom: 1rem;
}

.code_box {
  color: var(--code);
  padding: 5px 10px 5px 0;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 200;
}

.code_box span {
  display: inline-block;
  font-size: inherit;
  line-height: inherit;
  width: 2px;
  height: 1rem;
  vertical-align: bottom;
  background-color: currentColor;
  margin-left: 2px;
}

.contact_wrapper {
  margin-top: 1rem;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  max-width: 90%;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  width: 100%;
}

.divider {
  flex-grow: 1;
  height: 1px;
  background-color: var(--font);
  opacity: 0.1;
  position: relative;
  transition: opacity 0.25s ease-in-out;
}

.divider.show {
  opacity: 0.25;
}

.divider::after {
  content: ">";
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  font-size: inherit;
  line-height: inherit;
}

.placeholder {
  width: 40px;
  height: 40px;
  position: relative;
}

.placeholder svg {
  transform: translate(5px, 5px);
  position: absolute;
}

.contact:hover {
  opacity: 0.8;
}

.follow {
  opacity: 0.1;
  transition: opacity 0.25s ease-in-out;
}

.follow.show {
  opacity: 1;
}