.layout_wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
}

.header_holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.image {
  width: 4.5rem;
  height: 4.5rem;
  position: relative;
}

.nav_holder {
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.nav_holder span {
  display: block;
  width: fit-content;
  opacity: 0;
  font-size: 1rem;
  transition: max-width 1s ease-in-out, opacity 0.9s ease-in-out, margin 1s ease-in-out, color 0.25s ease-in-out;
}

.nav_holder .active {
  color: var(--color-one);
  max-width: 100px;
  opacity: 1;
  margin-right: 5px;
  margin-left: 5px;
}

.nav_holder span:not(.active) {
  max-width: 0;
}

.nav_holder:hover span {
  max-width: 100px;
  opacity: 1;
  margin-right: 5px;
  margin-left: 5px;
}

.nav_holder span:not(.active):hover,
.nav_holder span:not(.active):focus {
  color: var(--color-three);
}

.profile_pic {
  border-radius: 100%;
}

.parallax {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.intro_holder {
  width: 100%;
  display: flex;
  row-gap: 40px;
  column-gap: 60px;
  align-items: center;
}

.intro_holder.large {
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
}

.intro_holder:not(.large) {
  flex-direction: column;
}

.cycle_holder {
  --fix-height: calc(2*11rem);
  --gap-vert: calc(var(--fix-height)/3);
  --fixed-width: calc(100%/3);
  position: relative;
  overflow: hidden;
}

.cycle_holder.large {
  height: var(--fix-height);
  max-height: var(--fix-height);
}

.cycle_holder:not(.large) {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.cycle_holder::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.cycle_holder.large::after {
  background: linear-gradient(
    0deg,
    white 0%,
    transparent 40%,
    transparent 60%,
    white 100%
  );
}

.cycle_holder:not(.large):after {
  background: linear-gradient(
    90deg,
    white 0%,
    transparent 45%,
    transparent 65%,
    white 100%
  );
}

.cycle {
  display: flex;
  align-items: flex-start;
  height: 100%;
  transition: transform 0.25s ease-in;
}

.cycle.large {
  flex-direction: column;
  text-align: left;
  gap: var(--gap-vert);
}

.cycle:not(.large) {
  text-align: center;
  align-items: center;
  /* padding: 0 var(--pad-hor); */
  flex-direction: row;
}

.item {
  font-size: 1.5rem;
  white-space: nowrap;
  transition: all 0.25s ease-in;
}

.item.large {
  height: 2.5rem;
  min-height: 2.5rem;
}

.item:not(.large) {
  width: var(--fixed-width);
  min-width: var(--fixed-width);
  max-width: var(--fixed-width);
}

.item.active {
  font-size: 2.5rem;
  color: var(--color-three);
}