.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding-top: max(5rem, 20%);
  padding-bottom: max(5rem, 20%);
}

@media (max-aspect-ratio: 1 / 1) {
  .wrapper {
    padding-top: 0;
    padding-bottom: 0;
    height: 100vh;
  }
}

.blurb p {
  font-size: 2.5rem;
  line-height: normal;
}

.blurb b {
  text-shadow: 5px 5px 10px var(--box-shadow);
}